.nurse-row
    font-family: Rubik
    font-size: 20px
    line-height: 24px
.nurse-row
    margin: 40px 0
    .round
    .mark
        padding 0
        margin 17px
        width: 34px
        height 34px
        border: 1px solid #fff
        border-radius: 50%
    p
        width calc(100% - 68px)
        margin: 0
        align-items: center
    .white-line
        margin:auto
        height: 4px
        width: 250px
        background-color: #fff
        border-radius 2px
.nurse-about

    font-family: Rubik
    font-style: normal
    font-weight: normal
    color: #171C4E;
    .text
        // max-width: 625px
        font-size: 22px
        line-height: 26px
        text-align: justify
        p
            margin: 13px 0
            width 100%
    .our-info
        p

            font-size: 16px
            line-height: 19px
            text-align: center
            height 57px
            margin 0
            width auto
        .our-contact
            height: 205px
            background: #B35047
            border-radius: 50px
            padding: 22px 0
            p

                text-align: center
                color: #FFFFFF
                margin 8px 0
                height: auto
                a
                    text-decoration: none
                    color: #fff
                    ::hover
                        color: #E1CECB
            .white-line
                margin:auto
                height: 4px
                width: 250px
                background-color: #fff
                border-radius 2px
            a


.nurse-job-requirement
        h2
            font-size: 25px
            line-height: 31px
            color: #171C4E;
        .item
            display flex
            flex-wrap: wrap
            align-content: center
            justify-content: flex-start
            align-items: center
            .round

                background-color: #42466D

.nurse-line
    width 100%
    height: auto
    padding: 10px
    border-radius: 60px
    background-color: #CE9A98
    h3, h4
        font-size: 24px
        line-height: 28px
        text-align: center
        color: #FFFFFF
        display flex
        align-items: center
        margin: auto
.nurse-service-requirement
    h4
        font-family: Rubik Mono One;
        font-style: normal
        font-weight: normal
        font-size: 20px
        line-height: 25px
        color: #171C4E
        display flex
        align-items:center
    a
        text-decoration: none
        height 88px
        border-radius 25px
        background-color: #BFCECE
        color: #fff
        align-items: center
        text-align: center
    .item
        display flex
        flex-wrap: wrap
        align-content: center
        justify-content: flex-start
        align-items: center
        .round
            background-color: #B35047
        .mark
            display flex
            align-items: center
            font-family: Rubik Mono One
            font-style: normal
            font-weight: normal
            font-size: 55px
            line-height: 68px
            color: #CE9A98
            background-color: #fff
            padding: 0
            margin: 0 48px

        .link
            text-decoration: underline
            color #B35047
            background-color: #fff
.nurse-row.giveMe
    h4
        font-family: Rubik Mono One;
        font-style: normal
        font-weight: normal
        font-size: 20px
        line-height: 25px
        color: #171C4E
        display flex
        align-items:center
    .item
        display flex
        flex-wrap: wrap
        align-content: center
        justify-content: flex-start
        align-items: center
        .round
            background-color: #42466D
        p
            font-size: 18px
    .info
        p
            width 100%
            font-size: 16px
            line-height: 19px
            text-align: center
            color: #171C4E
        .contacts
            height: 225px
            border-radius: 50px
            background: #42466D
            margin: 17px 0
            padding 24px 0
            p
                color: #FFFFFF
                font-size: 20px
                line-height: 24px
                margin: 8px 0
.nurse-row.paymenstService
    a
        background: #BFCECE;
        height 75px
        padding 13px
        text-align:center
        font-size: 19px
        line-height: 23px
        color:#ffF
        border-radius: 25px
        text-decoration: none


